---
http_interactions:
- request:
    method: post
    uri: https://api.openhive.network/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"method":"condenser_api.get_content","params":["stemgeeks","177-000-stem-burned-and-stem-miner-price-increase-in-2020"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000161785575659943'
      X-Jussi-Response-Time:
      - '0.18507521599531174'
      X-Jussi-Namespace:
      - appbase
      X-Jussi-Api:
      - condenser_api
      X-Jussi-Method:
      - get_content
      X-Jussi-Params:
      - "['stemgeeks', '177-000-stem...rease-in-2020']"
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":82905992,"author":"stemgeeks","permlink":"177-000-stem-burned-and-stem-miner-price-increase-in-2020","category":"hive-163521","parent_author":"","parent_permlink":"hive-163521","title":"177,000
        STEM Burned & STEM Miner price increase in 2020.","body":"<center>![](https:\/\/cdn.steemitimages.com\/DQmWfQdaKD1K1T69KW6uNFLmZKYuHZcF8BtEaa8sZxEmETM\/image.png)<\/center>\n\nAs
        we have done since the beginning, we burned another 10% chunk of the STEM
        sell wall.  This burn was for **177,000 STEM tokens**.  This reduces the sell
        wall to **1,603,000 STEM** from the original 2,500,00 STEM.\n\nhttps:\/\/i.imgur.com\/vj1cQBI.png\n\nWe
        also burned 4B STEM tokens in the beginning to drastically reduce the max
        supply to a reaso[...]
